<!--<img class="banner" src="{{ include.image | relative_url }}" loading="lazy" />-->

<style>


    [data-component="slideshow"] .slide {
        display: none;
        text-align: center;
        object-fit: contain;
        overflow: hidden;
        height: auto;
        border:2px solid #ccc;
        border-radius: 10px;
    }

    [data-component="slideshow"] .slide.active {
        display: block;
        object-fit: contain;
        overflow: hidden;
        height: auto;
        border:2px solid #ccc;
        border-radius: 10px;
    }
</style>


<div id="slideshow-example" data-component="slideshow">
    <div role="list">
        {% for image in include.images %}
        <div class="slide">
            <img src="{{ image }}" alt="" style="width: 100%;max-height: 100%">
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var slideshows = document.querySelectorAll('[data-component="slideshow"]');
    slideshows.forEach(initSlideShow);

    function initSlideShow(slideshow) {

        var slides = document.querySelectorAll(`#${slideshow.id} [role="list"] .slide`);

        var index = 0, time = 5000;
        slides[index].classList.add('active');

        setInterval( () => {
            slides[index].classList.remove('active');

            index++;
            if (index === slides.length) index = 0;

            slides[index].classList.add('active');

        }, time);
    }
</script>
